*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.image-responsive{
    width:100%;
}

.nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:60px;
    font-family:'Poppins', sans-serif;
    background-color:rgba(0,0,0,0.2);
    position:fixed;
    width:100%;
    z-index:1;
    transition:0.2s;

}

.logo{
    z-index:3;
}

.logo img{
    width:50px;
}

.menu-list{
    display:flex;
    width:45%;
    justify-content:space-around;
}

.menu-list li{
    list-style:none;
}

.menu-list a{
    color:#fff;
    text-decoration:none;
    letter-spacing:3px;
    font-weight:bold;
    font-size:16px;
    transition:0.2s;
    text-transform:uppercase;
}

.menu-list a:hover{
    color:#ccc;
    transition:0.2s;
}

.menu div{
    width:25px;
    height:3px;
    margin:5px;
    background-color:#fff;
    z-index:3;
}

.menu{
    cursor:pointer;
    display:none;
}

@media screen and (max-width:1200px){
    .menu-list{
        width:55%;
    }
}

@media screen and (max-width:1000px){
    .menu-list a{
        font-size:14px;
    }
}

@media screen and (max-width:768px){
    html, body{
        position:relative;
    }

    .menu-list{
        position:absolute;
        right:0px;
        top:60px;
        height:400px;
        background-color:#000;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;
        transform:translateY(-150%);
        transition:transform 0.5s ease-in;
        z-index:1;
    }

    .menu-list li{
        opacity:0;
    }

    .menu{
        display:block;
    }

    .nav{
        background-color:#000;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navReveal{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity:0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.container{
    width:80%;
    margin: 100px auto;
}

.container h1{
    text-align:center;
    margin-bottom:50px;
}

#mynav{
    top:0px !important;
}

.nav2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: 0.2s;
}