<title>Отзыв</title>
<form method="post" action="/createReview">
    <li>
        <input type="number" max="5" name="rate" placeholder="оценка">
        <input type="number" name="comment" placeholder="комментарий">
    </li>
    <button type="submit">Отправить отзыв</button>
</form>