<head>
    <title>Отзыв</title>
</head>
<form method="post" action="/createReview">
    <label>
        <input type="number" max="5" min="0" name="rate" placeholder="оценка">
    </label>
    <label>
        <input type="text" name="comment" placeholder="комментарий">
    </label>
    <label>
        <input type="hidden" name="target" value="{{target}}">
    </label>
    <button type="submit">Отправить отзыв</button>
</form>