<p>Выставить объявление</p>
<body>
<div>
    <form action="/postListening" method="post">
        <div class="col-md-12"><label class="labels">Название</label>
            <input type="text"
                   class="form-control"
                   name="name"
            ></div>
        <div class="col-md-12"><label class="labels">Описание</label>
            <input type="text"
                   class="form-control"
                   name="description"
            ></div>
        <button class="btn btn-success" type="submit">Выставить объявление</button>
    </form>
</div>
</body>