<p>Выставить объявление</p>
<title>Выставить объявление</title>
<body>
<div>
    <form action="/postListening" method="post">
        <div class="col-md-12"><label class="labels">Название</label>
            <label class="labels"><input type="text"
                                         class="form-control"
                                         name="name"
                                         minlength="2" maxlength="32"
                                         required
            ></label></div>
        <div class="col-md-12"><label class="labels">Описание</label>
            <label class="labels"><input type="text"
                                         class="form-control"
                                         name="description"
            ></label></div>
        <div class="col-md-12"><label class="labels">Цена, p</label>
            <label class="labels"><input type="number"
                                         class="form-control"
                                         name="price"
            ></label></div>
        <div class="col-md-12"><label class="labels">Количество человек</label>
            <label class="labels"><input type="number"
                                         class="form-control"
                                         name="worker_count"
            ></label></div>
        <div class="col-md-12"><label class="labels">Опыт</label>
            <label class="labels"><input type="number"
                                         class="form-control"
                                         name="practice"
            ></label></div>
        <button class="btn btn-success" type="submit">Выставить объявление</button>
        <button class="btn btn-success" type="reset" onclick="document.location='/'">Назад</button>
    </form>
</div>
</body>